header h1 {
  color: #ec183f;
  font-size: 45px;
  margin-left: 330px;
  margin-bottom: 10px;
}

.data {
  margin-left: 330px;
}

h2 {
  margin-left: 330px;
}

p {
  width: 800px;
  margin-left: 330px;
  text-align: justify;
  margin-top: 10px;
}

.img-p {
  margin-left: 330px;
  width: 800px;
}

ol {
  margin-left: 330px;
}

footer {
  width: 750px;
  border-top: solid 1px rgb(141, 137, 130) ;
  text-align: center;
  margin-left: 330px;
  padding: 30px 30px;
  margin-top: 50px;

}
